

.title_calculator{

    text-align: center;

}

.input_numb1{

    margin-left: 670px;
    margin-top: 100px;
    width: auto;
    height: auto;
}
.input_numb2{

    margin-left: 670px;
    margin-top: 50px;
    width: auto;
    height: auto;
}

.sum_button{

    margin-left: 630px;
    margin-right: 10px;
    margin-top: 50px;
    
}

.subs_button{

    margin-top: 50px;
    padding-left: 10px;
}

.mult_button{

    margin-top: 50px;
    margin-left: 10px;
}

.numbers_values{

    margin-left: 670px;
    margin-top: 10px;
    padding: 10px;
}

.result_class{

    margin-left: 680px;
}

.madeby{

    text-align: center;
}